<template>
  <div>
    <ValidationObserver v-slot="{ invalid }">
      <form novalidate @submit.prevent="onSubmit" class="space-y-4">
        <div>
          <label for="firstname" class="text-gray-500 font-semibold"
            >First Name*
          </label>
          <ValidationProvider
            name="First Name"
            rules="required"
            immediate
            v-slot="{ errors }"
          >
            <input
              type="text"
              id="firstname"
              name="firstname"
              v-model.trim="form.firstName"
              placeholder="First Name"
              class="focus:outline-none mt-1 mb-1 p-2 block w-full rounded-md bg-gray-200 border-transparent focus:border-gray-200 focus:bg-white"
              :class="[
                errors.length ? 'ring-2 ring-red-500' : 'ring-2 ring-gray-500',
              ]"
            />
            <span class="text-red-500 text-sm">{{ errors[0] }}</span>
          </ValidationProvider>
        </div>
        <div>
          <label for="lastname" class="text-gray-500 font-semibold"
            >Last Name*
          </label>
          <ValidationProvider
            name="Last Name"
            rules="required"
            immediate
            v-slot="{ errors }"
          >
            <input
              type="text"
              id="lastname"
              name="lastname"
              v-model.trim="form.lastName"
              placeholder="Last Name"
              class="focus:outline-none mt-1 mb-1 p-2 block w-full rounded-md bg-gray-200 border-transparent focus:border-gray-200 focus:bg-white"
              :class="[
                errors.length ? 'ring-2 ring-red-500' : 'ring-2 ring-gray-500',
              ]"
            />
            <span class="text-red-500 text-sm">{{ errors[0] }}</span>
          </ValidationProvider>
        </div>
        <div>
          <label for="email" class="text-gray-500 font-semibold">Email* </label>
          <ValidationProvider
            name="Email"
            rules="required|email"
            immediate
            v-slot="{ errors }"
          >
            <input
              type="email"
              id="email"
              name="email"
              v-model.trim="form.email"
              placeholder="Email"
              class="focus:outline-none mt-1 mb-1 p-2 block w-full rounded-md bg-gray-200 border-transparent focus:border-gray-200 focus:bg-white"
              :class="[
                errors.length ? 'ring-2 ring-red-500' : 'ring-2 ring-gray-500',
              ]"
            />
            <span class="text-red-500 text-sm">{{ errors[0] }}</span>
          </ValidationProvider>
        </div>
        <div>
          <label for="country" class="text-gray-500 font-semibold"
            >Counry*
          </label>
          <country-list v-slot:default="{ countryList }">
            <ValidationProvider
              name="Country"
              rules="required"
              immediate
              v-slot="{ errors }"
            >
              <select
                class="focus:outline-none capitalize mt-1 mb-1 p-2 block w-full rounded-md bg-gray-200 border-transparent focus:border-gray-200 focus:bg-white"
                :class="[
                  errors.length
                    ? 'ring-2 ring-red-500'
                    : 'ring-2 ring-gray-500',
                ]"
                id="country"
                name="country"
                v-model.lazy="form.country"
              >
                <option disabled value="">Please select one</option>
                <option
                  v-for="(value, name) in countryList"
                  :key="value"
                  :value="value"
                  class="capitalize"
                >
                  {{ name }}
                </option>
              </select>
              <span class="text-red-500 text-sm">{{ errors[0] }}</span>
            </ValidationProvider>
          </country-list>
        </div>

        <div class="w-full text-center">
          <button
            type="submit"
            class="px-4 py-2 rounded-md bg-gray-400 disabled:opacity-25"
            :disabled="invalid"
          >
            Submit
          </button>
        </div>
      </form>
    </ValidationObserver>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';
import { AddressModel } from '../../../models/Address';
import { ValidationProvider, ValidationObserver, extend } from 'vee-validate';
import { required, email } from 'vee-validate/dist/rules.umd';
import { CountryList } from '@gig-test/shared';

extend('email', email);

// Override the default message.
extend('required', {
  ...required,
  message: 'This field is required',
});

export default Vue.extend({
  name: 'AddressForm',
  components: {
    ValidationProvider,
    ValidationObserver,
    CountryList,
  },
  props: {
    address: {
      type: Object as PropType<AddressModel>,
      default: () => ({
        firstName: '',
        lastName: '',
        email: '',
        country: '',
      }),
    },
  },
  data(): { form: AddressModel } {
    return {
      form: this.address,
    };
  },
  methods: {
    onSubmit() {
      this.$emit('on-submit', this.form);
    },
  },
});
</script>
<style lang="sass"></style>
