<template>
  <div
    class="flex w-full flex-col relative shadow-md p-3 bg-gray-100 rounded-md"
  >
    <span
      @click.stop="deleteAddress(address)"
      class="absolute top-0 right-0 text-sm hover:bg-red-500 mt-1 mr-1 rounded-full px-2"
      >x</span
    >
    <div class="cursor-pointer" @click.stop="addressClicked(address)">
      <span class="capitalize font-normal text-lg"
        >{{ address.firstName }} {{ address.lastName }}</span
      >
    </div>
    <div class="flex flex-col justify-between">
      <a class="text-gray-400" :href="`mailto:${address.email}`">{{
        address.email
      }}</a>
      <span class="text-sm">{{ address.country | countryName }}</span>
    </div>
  </div>
</template>
<script lang="ts">
import Vue, { PropType } from 'vue';
import { AddressModel } from '../../../models/Address';
import { CountryNameFilter } from '@gig-test/shared';

export default Vue.extend({
  name: 'AddressItem',
  props: {
    address: {
      type: Object as PropType<AddressModel>,
      required: true,
    },
  },
  filters: {
    countryName: CountryNameFilter,
  },
  methods: {
    addressClicked(item) {
      this.$emit('address-clicked', item);
    },
    deleteAddress(item) {
      this.$emit('delete-address', item);
    },
  },
});
</script>
<style lang="sass" scoped></style>
