<template>
  <div>
    <div
      class="mt-2 flex:col sm:flex space-y-4 sm:space-y-0 justify-between w-full"
    >
      <div class="flex-1 text-center sm:text-left">
        <router-link
          class="px-4 py-2 bg-gray-300 hover:bg-gray-400 active:bg-gray-400 rounded-md"
          :to="{ name: 'AddressListView' }"
          >Back</router-link
        >
      </div>
      <h1
        class="font-semibold text-center flex-1 text-gray-500 text-xl underline"
      >
        Add Address
      </h1>
      <div class="flex-1"></div>
    </div>
    <address-form
      class="mt-8"
      @on-submit="onFormSubmitted($event)"
    ></address-form>
  </div>
</template>

<script lang="ts">
import { AddressModel } from '../../../models/Address';
import { ActionTypes } from '../../../store/actions';
import Vue from 'vue';
import AddressForm from '../components/AddressForm.vue';

export default Vue.extend({
  components: { AddressForm },
  name: 'CreateAddressView',
  methods: {
    onFormSubmitted(value: AddressModel) {
      this.$store
        .dispatch(ActionTypes.ADD_ADDRESS, value)
        .then(() => {
          this.$router.push({ name: 'AddressListView' });
        })
        .catch((e) => {
          console.log(e.message);
        });
    },
  },
});
</script>

<style sass></style>
