<template>
  <div class="w-full">
    <div
      class="flex flex-col sm:flex-row justify-between w-full space-y-3 sm:space-y-0"
    >
      <div class="flex-1"></div>
      <h1
        class="text-center font-semibold flex-1 text-gray-500 text-xl underline"
      >
        Addresses
      </h1>
      <div class="flex-1 text-center sm:text-right">
        <router-link
          :to="{ name: 'AddressCreateView' }"
          class="bg-blue-300 p-2 rounded cursor-pointer active:bg-blue-400 hover:bg-blue-400"
          >New</router-link
        >
      </div>
    </div>
    <div class="">
      <div v-if="addresses.length">
        <address-item
          v-for="item in addresses"
          :key="item.id"
          class="my-4 flex space-y-2"
          :address="item"
          @address-clicked="itemClicked($event)"
          @delete-address="deleteItem($event)"
        ></address-item>
      </div>
      <div v-else class="w-full h-96 flex items-center justify-center">
        <p class="text-4xl text-gray-300">No Address Found</p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { AddressModel } from '../../../models/Address';
import { ActionTypes } from '../../../store/actions';
import AddressItem from '../components/AddressItem.vue';

export default Vue.extend({
  components: { AddressItem },
  name: 'ListAddressView',
  data() {
    return {};
  },
  methods: {
    itemClicked(address: AddressModel): void {
      this.$router.push({
        name: 'AddressUpdateView',
        params: { id: address.id },
      });
    },
    deleteItem(address: AddressModel): void {
      const confirmation = confirm(
        'Are you sure you want to delete this item?'
      );
      if (confirmation) {
        this.$store.dispatch(ActionTypes.DELETE_ADDRESS, address);
      }
    },
  },
  computed: {
    addresses() {
      return this.$store.getters.addresses;
    },
  },
});
</script>

<style sass>
.capitalize {
  text-transform: capitalize;
}
</style>
