<template>
  <div class="">
    <div v-if="selectedAddress">
      <div
        class="mt-2 flex:col sm:flex space-y-4 sm:space-y-0 justify-between w-full"
      >
        <div class="flex-1 text-center sm:text-left">
          <router-link
            class="px-4 py-2 bg-gray-300 hover:bg-gray-400 active:bg-gray-400 rounded-md"
            :to="{ name: 'AddressListView' }"
            >Back</router-link
          >
        </div>
        <h1
          class="font-semibold text-center flex-1 text-gray-500 text-xl underline"
        >
          Update Address
        </h1>
        <div class="flex-1"></div>
      </div>
      <address-form
        class="mt-8"
        @on-submit="onFormSubmitted($event)"
        :address="selectedAddress"
      ></address-form>
    </div>
    <div v-else class="text-center mt-4">
      <p class="font-font-medium text-lg">Item Not Found</p>
      <router-link
        :to="{ name: 'AddressListView' }"
        class="block w-full mt-2 cursor-pointer underline font-semibold"
        >Go Home</router-link
      >
    </div>
  </div>
</template>

<script lang="ts">
import { AddressModel } from '../../../models/Address';
import { ActionTypes } from '../../../store/actions';
import Vue from 'vue';
import AddressForm from '../components/AddressForm.vue';

export default Vue.extend({
  components: { AddressForm },
  name: 'UpdateAddressView',

  methods: {
    onFormSubmitted(value: AddressModel) {
      this.$store.dispatch(ActionTypes.UPDATE_ADDRESS, value).then(() => {
        this.$router.push({ name: 'AddressListView' });
      });
    },
  },
  computed: {
    selectedAddress(): AddressModel {
      const id = parseInt(this.$route.params.id);
      if (isNaN(id)) {
        return null;
      }

      const item: AddressModel = this.$store.getters.getAddress(
        id
      ) as AddressModel;

      if (!item) {
        return null;
      }
      return item;
    },
  },
});
</script>

<style sass></style>
