<template>
  <div
    id="app"
    class="flex justify-center overflow-y-auto h-screen w-full bg-gray-200"
  >
    <div class="max-w-screen-md w-full mx-auto text-align antialiased lg:px-6">
      <div class="flex justify-center p-4 px-3 py-10">
        <div class="w-full">
          <div class="bg-white shodow-md rounded-lg p-5 mb-4 shadow-md">
            <div
              class="block text-gray-600 text-center text-2xl font-semibold p-2"
            >
              <router-link to="/" class="underline">Address Book</router-link>
            </div>
            <router-view />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss"></style>
